<div class="contaier">
    <h2>العنوان</h2>
    <p>2 أ - عمارات الفاروقيه - جسر السويس - الدور الخامس شقه 503</p>
    <h2>رقم التليفون</h2>
    <p>01005688174 - 01151161668 - 01026155742 </p>
    <h2>الايميل</h2>
    <p>m_tohamy2003@yahoo.com </p>
    <h2>الاداره</h2>
    <p> info@alshroukstar.com </p>
    <h2>موقعنا</h2>
    <p> www.alshroukstar.com </p>
    <h2>تليفاكس</h2>
    <p> 21892652 </p>
    <h2>مكان الشركه</h2>
    <a href="https://www.google.com/maps?cid=168278660256704758" target="_blank"><img src="../../../assets/location.jpeg"></a>
    <h2>صفحتنا على الفيس بوك</h2>
    <a href="https://www.facebook.com/elshrouk.green.houses/" target="_blank"><img src="../../../assets/fb.png"></a>
  </div>
