<img class="image1" src="../../../assets/design/1.jpg">
<img  class="image2" src="../../../assets/design/2.jpg">
<ul id="menu">
    <li> <a routerLink="/contact-us">اتصل بنا </a></li>
    <li><a routerLink="/green-houses">صوب زراعيه</a></li>
    <li><a routerLink="/gallery">معرض الصور</a></li>
    <li><a routerLink="/supplies">توريدات</a></li>
    <li><a routerLink="/guidlines">ارشادات زراعيه</a></li>
    <li><a routerLink="/irrigation-systems">انظمة ري</a></li>
    <li><a routerLink="/about">من نحن</a></li>
    <li><a routerLink="">الرئيسيه</a></li>
</ul>

