<br>
<div class="container">
    <div class="gallery-grid">
      <img class="gallery-img" src="../../../assets/انظمة الري/DSC01225.JPG" >
      <img class="gallery-img" src="../../../assets/انظمة الري/DSC01226.JPG" >
      <img class="gallery-img" src="../../../assets/انظمة الري/DSC08160.JPG" >
      <img class="gallery-img" src="../../../assets/انظمة الري/1.jpeg" >
      <img class="gallery-img" src="../../../assets/انظمة الري/2.jpeg" >
      <img class="gallery-img" src="../../../assets/انظمة الري/t.jpeg" >
  </div>
</div>
<br>

