<div class="row">
   <div class="column">
     <img src="../../../assets/gallery/1.jpeg">
     <img src="../../../assets/gallery/2.jpeg">
     <img src="../../../assets/gallery/3.jpeg">
     <img src="../../../assets/gallery/4.jpeg">
     <img src="../../../assets/gallery/5.jpeg">
     <img src="../../../assets/gallery/DSC02755.JPG">
     <img src="../../../assets/gallery/DSCF2376.JPG">
     <img src="../../../assets/gallery/DSCF2433.JPG">
     <img src="../../../assets/gallery/DSCF2553.JPG">
     <img src="../../../assets/gallery/DSCF2748.JPG">
     <img src="../../../assets/gallery/DSCF3345.JPG">
     <img src="../../../assets/gallery/DSCF3397.JPG">
     <img src="../../../assets/gallery/IMG20200401085325.jpg">
     <img src="../../../assets/gallery/IMG20200401090105.jpg">
     <img src="../../../assets/gallery/WhatsApp Image 2017-02-11 at 12.14.46 AM.jpeg">
     <img src="../../../assets/gallery/WhatsApp Image 2019-10-20 at 6.12.30 PM (1).jpeg">
     <img src="../../../assets/gallery/WhatsApp Image 2019-10-20 at 6.12.31 PM (2).jpeg">
     <img src="../../../assets/gallery/WhatsApp Image 2019-10-24 at 10.36.53 AM (2).jpeg">
     <img src="../../../assets/gallery/WhatsApp Image 2019-10-24 at 10.36.54 AM (4).jpeg">
     <img src="../../../assets/gallery/WhatsApp Image 2018-09-12 at 11.45.44 AM.jpeg">
   </div>
 </div>
