<div class="grid-container">
  <h1>صوبات زراعيه</h1>
  <br>
  <div class="grid-item">
    <h2>صوبه عاديه سنجل فرديه دائريه او قائمه الاجناب</h2>
    <div class="row">
        <img src="../../../assets/swab/normal/دائرية (1).jpeg" >
        <img src="../../../assets/swab/normal/دائرية (2).jpeg">
        <img src="../../../assets/swab/normal/n.jpeg">
    </div>
    <p>
      عباره عن اقواس من مواسير مجلفنه ودعامات طوليه وعرضيه تعمل
       كحامل للثمار والمسافات 2.5 م و 2 م للواجهات حسب الموصفات القياسيه
       المتعارف عليها لضمان سلامه الصوبه والعمل علي اتزان الصوبه من شده الرياح
       ومزوده بسلك شد وعمل اوتاد بالارض وقفايز التجميع كلها مجلفنه علي الساخن
      وكذلك المسامير ايضا المستخدمه مجلفنه الغطاء :اما بلاستيك معالج ضد اشعه الشمس
       او شبك تظليل سيران حسب النسب المطلوبه
       الاستخدامات :- انواع الخضار بانواعه فلفل – خيار - باذنجان – كوسه
    </p>
  </div>
  <br>
  <div class="grid-item">
    <h2>صوب متعدده مالتي سبان</h2>
    <div class="row">
        <img src="../../../assets/swab/mutli/877.JPG" >
        <img src="../../../assets/swab/mutli/885.JPG">
        <img src="../../../assets/swab/mutli/DSCF2551.JPG">
        <img src="../../../assets/swab/mutli/WhatsApp Image 2019-10-20 at 6.12.30 PM (2).jpeg">
    </div>
    <p>
      اما ثنائيه او ثلاثيه او متعدده الاقبيه جميعها
       الموصفات واحده من حيث وسائل التجميع عن طريق حرف y لمصنع من الصاج المجلفن لتجميع الاقواس بعضها
        ببعض وقوائم المنتصف
        وكذلك المدارات الطوليه والعرضيه وتقويه الواجهات
        والابواب وفتحات التهويه الجانبيه الطوليه والعرضيه حسب الطلب وكذلك يتم عمل
        كابينه خارجيه ذات باب جرار داخلي اما منزلق او مفصلي وكذلك خارجي مفصلي
        ويتم عمل قواعد خرسانيه بالاوتاد وعمل قطاعات صاج جيتر في هذه الصوبه
         لتجميع المياه والمساعده علي التصريف من اي الاتجاهات حسب ميول الصوبه
       ( ميزان الصوبه )
        ومثبت عليه قطاع من الالومنيوم
       ( بروفيل) لتثبيت البلاستيك
       سواء من الاجناب او في المنتصف
        بواسطه سلك سوسته مكسوه بلاستيك
        ( زجزاج ) الغطاء حسب الطلب
       من بلاستيك او شبك في حاله بلاستيك
        يتم عمل فتحات تهويه مناوله يدويه تعمل
        علي رفع البلاستيك لمزيد من التهويه
        ومن خلفه شبك ابيض مانع للحشرات
        (لمنع دخول الحشرات الذبابة البيضاء)
        الاستخدامات :- نباتات زينه - خضار بانواعه</p>
  </div>
  <br>
  <div class="grid-item">
    <h2>صوبه مكيفه</h2>
    <div class="row">
        <img src="../../../assets/swab/moka/DSCF3377.JPG" >
        <img src="../../../assets/swab/moka/WhatsApp Image 2017-02-11 at 12.14.52 AM.jpeg">
        <img src="../../../assets/swab/moka/WhatsApp Image 2017-02-11 at 12.15.08 AM.jpeg">
    </div>
    <p>وهي عباره عن صوبه ذات طابع خاص ومستخدم في الابحاث والزراعات الغير تقليديه
      نظرا لارتفاع اسعارها لان الهيكل المعدني تحتاج الي قطاعات من الصاج الخاص والغطاء من البولي كربونيت او الفيبر جلاس سواء من
       الاجناب او السقف او الاجناب فقط والسقف بلاستيك ويتم تركيب مراوح في
       احدي الواجهات والواجهه الاخري يتم تركيب كرتون تبريد (باد كولينج )
      مع عمل لوحه كهربائيه للتحكم في درجه الحراره والمناوبه في التشغيل</p>  </div>
  <br>
  <div class="grid-item">
    <h2>صوبه زجاجيه</h2>
    <div class="row">
        <img src="../../../assets/swab/faiber/g.jpeg" >
    </div>
    <p>وهي عباره عن صوبه ذات طابع خاص ومستخدم في الابحاث والزراعات الغير تقليديه
      نظرا لارتفاع اسعارها لان الهيكل المعدني تحتاج الي قطاعات من الصاج الخاص والغطاء من البولي كربونيت او الفيبر جلاس سواء من
       الاجناب او السقف او الاجناب فقط والسقف بلاستيك ويتم تركيب مراوح في
       احدي الواجهات والواجهه الاخري يتم تركيب كرتون تبريد (باد كولينج )
      مع عمل لوحه كهربائيه للتحكم في درجه الحراره والمناوبه في التشغيل</p>
  </div>
  <div class="grid-item">
    <h2>صوب بولي كربونيت</h2>
    <div class="row">
        <img src="../../../assets/swab/poly/1.jpeg">
        <img src="../../../assets/swab/poly/2.jpeg">
        <img src="../../../assets/swab/poly/3.jpeg">
        <img src="../../../assets/swab/poly/4.jpeg">
    </div>
    <!-- <p>وهي عباره عن صوبه ذات طابع خاص ومستخدم في الابحاث والزراعات الغير تقليديه
      نظرا لارتفاع اسعارها لان الهيكل المعدني تحتاج الي قطاعات من الصاج الخاص والغطاء من البولي كربونيت او الفيبر جلاس سواء من
       الاجناب او السقف او الاجناب فقط والسقف بلاستيك ويتم تركيب مراوح في
       احدي الواجهات والواجهه الاخري يتم تركيب كرتون تبريد (باد كولينج )
      مع عمل لوحه كهربائيه للتحكم في درجه الحراره والمناوبه في التشغيل</p> -->
  </div>
  <br>
  <div class="grid-item">
    <h2>صوب احواض السمك الزراعه علي مخلفات الاسماك</h2>
    <div class="row">
        <img src="../../../assets/swab/fishes/DSC02592.JPG" >
        <img src="../../../assets/swab/fishes/IMG_2784.jpg">
        <img src="../../../assets/swab/fishes/f.jpeg">
    </div>
    <p>حسب الاحواض والمساحات الموجوده يتم عمل هيكل مناسب مع تقويه
      التدعيم لزياده عرض الصوبه احيانا الي 12 متر دون اي قوائم وسطيه ويتم عمل بالتات حديد مناسبه لتثبيت الجوانب الحائطيه
      مع توفير الفيشارات الصلب (اكمون) حتي تتحمل الضغط والاهتزاز للصوبه
       من شده الرياح مع عمل وسائل التثبيت المناسبه للاحتفاظ بدرجه الحراره</p>
  </div>
  <br>
  <div class="grid-item">
    <h2>الصوب الخشبيه الطريقه الاسبانيه</h2>
    <div class="row">
        <img src="../../../assets/swab/5a4abia/DSCF1558.JPG" >
        <img src="../../../assets/swab/5a4abia/DSCF1568.JPG">
        <img src="../../../assets/swab/5a4abia/DSCF1573.JPG">
        <img src="../../../assets/swab/5a4abia/1.jpeg">
    </div>
    <p>
      تعتمد علي المساحات المفتوحه وذلك نظرا لسعرها الاقتصادي المناسب من وجهه نظر العميل
       وهي عباره عن دوائر من خشب الجازوارين من 13 ل 15 سم بطول 3 متر علي الاقل وكذلك الاركان من 15 ل
       20 لعمل شدادات من السلك المجلفن الصلب والطري
       حسب الاستخدام عمل سلك حامل ثمار 2 ملي طري عمل بردورات خرسانيه
        وتغرس في الارض لمسافه 1 متر وبها حديد تسليح لا يقل عن 4 لنيه لعمل شدادات لتثبيت الصوبه والحشو الداخلي
       عباره عن عروق بيضاء 10 *10 سم حسب الطلب والارتفاع حسب الطلب سواء فلات او بشكل متدرج
      </p>
  </div>
  <br>
  <div class="grid-item-2">
    <h2>مشتل فواكه - صوبه منشر</h2>
    <div class="row-2">
        <img src="../../../assets/swab/man4ar/Photo-0006.jpg" >
        <img src="../../../assets/swab/man4ar/Photo-0015.jpg">
        <img src="../../../assets/swab/man4ar/WhatsApp Image 2017-11-07 at 10.49.04 PM.jpeg">
        <img src="../../../assets/swab/man4ar/WhatsApp Image 2019-10-24 at 10.36.52 AM.jpeg">
        <img src="../../../assets/swab/man4ar/WhatsApp Image 2019-10-24 at 10.36.53 AM (2).jpeg">
        <img src="../../../assets/swab/man4ar/المظلة الداخلية.JPG">
    </div>
  </div>
<br>
  <div class="grid-item-2">
    <h2>انتاج حيواني</h2>
    <div class="row-2">
        <img src="../../../assets/swab/animals/392.jpg" >
        <img src="../../../assets/swab/animals/thumbnail (1).jpg">
        <img src="../../../assets/swab/animals/WhatsApp Image 2016-11-22 at 12.49.19 PM.jpeg">
        <img src="../../../assets/swab/animals/WhatsApp Image 2018-06-07 at 4.26.06 PM.jpeg">
        <img src="../../../assets/swab/animals/WhatsApp Image 2019-10-24 at 1.48.24 PM (1).jpeg">
        <img src="../../../assets/swab/animals/WhatsApp Image 2019-10-24 at 1.48.25 PM (1).jpeg">
    </div>
  </div>
</div>
