<div class="mini-grid">
  <img class="img1" src="../../../assets/contact_us.png" alt="">
  <img class="img2" src="../../../assets/contact.jpg" alt="">
</div>
<ul id="menu">
    <li><a routerLink="/green-houses">صوب زراعيه</a></li>
    <li><a routerLink="/gallery">معرض الصور</a></li>
    <li><a routerLink="/supplies">توريدات</a></li>
    <li><a routerLink="/guidlines">ارشادات زراعيه</a></li>
    <li><a routerLink="/irrigation-systems">انظمة ري</a></li>
    <li><a routerLink="/about">من نحن</a></li>
    <li><a routerLink="">الرئيسيه</a></li>
</ul>
