<slides></slides>
<br>
<div class="main">
    <h2>الشروق ستار للصوب الزراعية والتوريدات</h2>
        <img  src="../../../assets/design/2.jpg" alt="">
        <br>
        <p>
            نظرًا لما تتمتع به شركه الشروق ستار أكبر شركة متخصصه في الصوبات الزراعيه وانظمه الري وتوريد المعدات الزراعيه. ومن خلال منهجية التحديث واكتشاف الجديد التي تكفل تطبيق المعرفة الجديدة على جميع خدماتنا ، تتشرف مؤسسه الشروق ستار للمشروعات الزراعيه والتوريدات
            العموميه ان تقدم للساده العملاء خبراتها الطويله والمتميزه في مجال النشاط الزراعي وكافه التوريدات العموميه كما تقدم المؤسسه للساده المستثمرين واصحاب المشروعات الزراعيه .
        </p>
        <a routerLink="/about">قراءة المزيد</a>
    </div>
<div class="grid-container">
  <div class="grid-item">
        <h2>صوب زراعية</h2>
        <img src="../../../assets/houses.jpg">
        <p>نظرًا لما تتمتع به شركه الشروق ستار للصوبات الزراعيه متخصصه في انظمه الري وانشاء الصوبات الزراعيه</p>
        <a routerLink="/green-houses">قراءة المزيد</a>
    </div>
    <div class="grid-item">
        <h2>أنظمة ري</h2>
        <img src="../../../assets/sys.jpg">
        <p>نظرًا لما تتمتع به شركه الشروق ستار للصوبات الزراعيه متخصصه في انظمه الري وانشاء الصوبات الزراعيه</p>
        <a routerLink="/irrigation-systems">قراءة المزيد</a>
    </div>
    <div class="grid-item">
        <h2>أرشادات زراعية</h2>
        <img src="../../../assets/guid.jpg">
        <p>تقوم الشركه بتوريد بلاستيك معالج وشبك تظليل وتعبئه وصواني فوم وسلك مجلفن وجميع مستلزمات الصوب</p>
        <a routerLink="/guidlines">قراءة المزيد</a>
    </div>
    <div class="grid-item">
        <h2>توريدات</h2>
        <img src="../../../assets/supp.jpg">
        <p>تقوم الشركه بتوريد بلاستيك معالج وشبك تظليل وتعبئه وصواني فوم وسلك مجلفن وجميع مستلزمات الصوب</p>
        <a routerLink="/supplies">قراءة المزيد</a>
    </div>

</div>
