<div class="row">
 <div class="container">
  <div class="column">
<div id="mini">
  <img src="../../../assets/tawredat/y حرف.JPG">
  <div>حرف Y (لتجميع الأقواس والقوائم مع بعضها )</div>
</div>
   <div id="mini">
    <img src="../../../assets/tawredat/بروفيل بالسوسته.JPG">
    <div>قطاع المونيوم (بروفيل)</div>
   </div>
 <div id="mini">
  <img src="../../../assets/tawredat/بلاستيك تبطين.jpg">
  <div>بلاستيك تبطين</div>
 </div>
   <div id="mini">
    <img src="../../../assets/tawredat/سلك مجلفن.jpg">
    <div>سلك شد مجلفن طري</div>
   </div>
   <div id="mini">
    <img src="../../../assets/tawredat/شبك أبيض.JPG">
    <div>شبك ثيران (63%- 73% - 80% ) اسود وابيض ورمادي جميع المقاسات</div>
   </div>
  <div id="mini">
    <img src="../../../assets/tawredat/شبك لزوم تفطيه العنب.JPG">
    <div>شبك لتغطية العنب والرمان</div>
  </div>
   <div id="mini">
    <img src="../../../assets/tawredat/صليبة تجميع.JPG">
    <div>مصلبات مجلفنة</div>
   </div>
   <div id="mini">
    <img src="../../../assets/tawredat/4.jpg">
    <div>جرارات زراعية</div>
   </div>
   <div id="mini">
    <img src="../../../assets/tawredat/5.jpeg">
    <div>رشاشات تعمل يدويا واتوماتيكي</div>
   </div>
    <div id="mini">
      <img src="../../../assets/tawredat/6.jpeg">
    <div>معدات زراعية</div>
    </div>
  </div>
  <div class="column">
    <div id="mini">
      <img src="../../../assets/tawredat/صواني فوم - شتاله.jpg">
    <div>صواني فوم</div>
    </div>
  <div id="mini">
    <img src="../../../assets/tawredat/قطاع وسط (جيتر).JPG">
    <div>قطاع جيتر بالبروفيل (المونيوم) </div>
  </div>
   <div id="mini">
    <img src="../../../assets/tawredat/قطاعات صاج بعد التركيب.jpg">
    <div>قطاع جيتر صاج مجلفن</div>
   </div>
    <div id="mini">
      <img src="../../../assets/tawredat/قفايز ماشه مقاسات.JPG">
    <div>قفايز ماشة مجلفنة جميع المقاسات</div>
    </div>
    <div id="mini">
      <img src="../../../assets/tawredat/قفيز تجميع.JPG">
    <div>قفايز طبق مجلفنة جميع المقاسات</div>
    </div>
  </div>
  <div class="column">
    <div id="mini">
      <img src="../../../assets/tawredat/قفيز ماشى بالمسمار.JPG">
    <div>قفايز ماشة مجلفنة</div>
    </div>
   <div id="mini">
    <img src="../../../assets/tawredat/كلبسات مقاسات.JPG">
    <div>كلبسات مجلفنة جميع المقاسات</div>
   </div>
    <div id="mini">
      <img src="../../../assets/tawredat/1.jpeg">
    <div>سلك بايكو</div>
    </div>
    <div id="mini">
      <img src="../../../assets/tawredat/2.jpeg">
    <div>سلك زجزاج (سوستة)</div>
    </div>
   <div id="mini">
    <img src="../../../assets/tawredat/3.jpeg">
    <div>توريد صوب زراعية بالكامل جميع المقاسات والأشكال</div>
   </div>

  </div>
 </div>
</div>
