<br>
<div class="container">
    <h1>مقدمه عن الشركه</h1>
    <img src="../../../assets/meeting2.jpg" alt="">
    <p>
        مقدمه عن الشركه تأسست شركه الشروق في سنه 2005 تتشرف مؤسسه الشروق ستار للمشروعات الزراعيه والتوريدات العموميه ان تقدم للساده العملاء خبراتها الطويله والمتميزه في مجال النشاط الزراعي وكافه التوريدات العموميه كما تقدم المؤسسه للساده المستثمرين واصحاب المشروعاات
        الزراعيه وذلك من خلال المجالات الاتيه ( green house ) الصوب الزراعيه وشبكات الري توريد وتركيب جميع انواع الصوب الزراعيه - اعاده بناء واصلاح جميع انواع الصوب الزراعيه - توريد وتركيب جميع قطع غيار الصوب الزراعيه وجميع انواع شبك التظليل 40% وحتي
        73% تظليل - توريد وتركيب جميع انواع شبكات الري - توريد وتركيب جميع قطع غيار شبكات الري - بخدمه ما بعد البيع يشمل نشاط المؤسسه من خلال الشراكه مع العديد من مراكز البحوث الزراعيه وكليات الزراعه بمصر وكذا منظمه العمل الدوليه وقدره واسعه في تنفيذ
        جميع المشروعات الكبري داخل ج م ع - في البلاد العربيه بعض الدول الافريقيه - جامعه ديميتري بنيجيريا - ولقد حققت المؤسسه هذا التمير من خلال الاتي مصممون مؤهلون - خبراء متخصصون- فنيون ذات تدريب وخبره عاليه - سابقة اعمال لدي جهات علميه متخصصه كمركز
        البحوث الزراعيه بوزاره الزراعه و الاستمرار في ملاحقه كل جديد وما تنتجه العقول الانسانيه من ابتكارات او معدات او ادوات او خدمات في مجال المشروعات الزراعيه هذا وتتشرف المؤسسه باتصالاتكم وقناعاتكم بمشاريعها في تنفيذ مشروعاتكم وتحقيق احلامكم في المستقبل
    </p>
</div>
<br>
