
/*  Extra small devices (portrait phones, less than 576px)  */
@media (min-width: 320px) {
  .container{
    max-width: 90%;
    border: solid 1px  black;
    border-radius: 25px;
  }

  .container img{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container{
    max-width: 90%;
    border: solid 1px  black;
    border-radius: 25px;
  }

  .container img{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .container{
    max-width: 90%;
    border: solid 1px  black;
    border-radius: 25px;
  }

  .container img{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .container{
    max-width: 90%;
    border: solid 1px  black;
    border-radius: 25px;
  }

  .container img{
    padding: 15px;
    width: 70%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    max-width: 50%;
    border: solid 1px  black;
    border-radius: 25px;
  }

  .container img{
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
